<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hmdq.js.codeproject.dekirunihongo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Lesson.LessonActivity"
            android:label="@string/title_activity_lesson"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lesson.ListLesson"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".netStateChanged">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Lesson.LearnVocabulary"
            android:label="@string/title_activity_lean_vocabulary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Grammar.GrammarActivity"
            android:label="@string/title_activity_grammar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResult"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>